.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background: white;
  color: black;
 
  margin: 0.2em;
  padding: 0.3em 0.6em; 
  border: 1px solid #ccc;  /* light gray border */
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #f0f0f0;  /* light gray hover */
}

.divNavbar {
  background: lightgrey;
}

.linkPadd {
  padding: 5px
}